@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  button {
    @apply hover:bg-blue-800 bg-blue-500 text-white border-blue-500 font-semibold p-2 border rounded h-full;
  }
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
